#app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.view {
    transition: all .4s cubic-bezier(.55,0,.1,1);
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .wrapper {
        position: relative;
        height: 100%;
        overflow: auto;
    }
}
